version: '3'

services:
  web:
    build: .
    command: [python3, /project/manage.py, runserver, "0.0.0.0:8000"]
    networks:
      - "test_nw"

  nodes:
    build: .
    command: [python3, /project/manage.py, runserver, "239.255.0.42:8000"]
    networks:
      - "test_nw"
      - "test_nw2"

networks:
  test_nw:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.1.4.0/24

  test_nw2:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.2.3.0/24
